<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SpotifyService-Info.plist
   TurnTune

   Created by Louis Menacho on 9/27/20.
   Copyright (c) 2020 Louis Menacho. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
